.dashboard-grid {
    box-sizing:content-box;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1.75fr;
    grid-template-areas: "user-search site-analytics";
}

.user-search {
    grid-area: user-search;
    width: inherit;
}

.search-topics {
    grid-area: search-topics;
    width: inherit;
}

.site-analytics {
    grid-area: site-analytics;
    width: inherit;
}

.action-bar {
    margin: 1rem 0;
}

.user-list {
    /* height: inherit; */
    /* max-height: 100%; */
    /* overflow: auto; */
}

.user-list>div:nth-child(even) {
    background-color: #efefef;
}

.user-list>div:nth-child(odd) {
    background-color: #e1e1e1;
}

.user-listing {
    padding: 0.5rem;
}
