.create-panel{
  width: 100%;
  box-sizing: border-box;
}

.blog-text{
  width: 100%;
  height: 25em;
  margin-bottom: 1em;
  box-sizing: border-box;
}

.blog-title{
  width: 100%;
  margin-bottom: 1em;
  box-sizing: border-box;
}

.page-title{
  padding-bottom: 1em;
}

form.create-container{
  width: 100%;
}

