.home-page-header {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.home-page-header .search-bar {
    align-self: center;
}

.tab {
    color: var(--text-light);
    background-color:#00000000;
    box-sizing: content-box;
    padding: 0.5em;
    border: none;
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    font-size: 1em;
}
.tab:hover {
    color: var(--accent-bright);
    background-color: var(--low-opacity-darken-10);
    cursor: pointer;
}
.tab.active {
    color: var(--text-primary);
    background-color: var(--background-secondary);
    box-shadow: -0.3em -0.35em 0.4em 0.01em rgba(44, 44, 44, 0.10);
    
}

.tab .icon-inline {
    color: var(--text-light);
    vertical-align:text-top;
    margin-right: 0.1em;
}
.tab:hover .icon-inline {
    color: var(--accent-bright);
}
.tab.active .icon-inline{
    color: var(--text-primary);
}

.subpage:first-child .post-list {
    border-top-left-radius: 0;
}

/* TEMPORARY: Used while we don't have a better way to do it */
#new a {
    color: green;
}
#popular a {
    color: red;
}
#saved a {
    color: blue;
}