.home-page-header {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.home-page-header .search-bar {
    align-self: center;
}

.tab.active {
    padding: 0.5em;
    border: none;
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    background-color: var(--background-secondary);
}
.subpage:first-child .post-list {
    border-top-left-radius: 0;
}

/* TEMPORARY: Used while we don't have a better way to do it */
#new a {
    color: green;
}
#popular a {
    color: red;
}
#saved a {
    color: blue;
}