
:root { 
  --text-primary: #4C566A;
  --text-on-blue: #ffffff;
  --accent-primary: #548687;
  --accent-hover: #3D6B6C;
  --background-primary: #e9e9e9;
  --background-secondary: #ffffff;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-primary);
  background-color: var(--background-primary);
}

h1{font-size: 2em;}

h2{font-size: 1.5em;}

h3{font-size: 1.17em;}

h4{font-size: 1em;}

h5{font-size: 0.83em;}

h6{font-size: 0.67em;}

.sidebar-profile{
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
  max-width: 20%;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  padding: 1em;
}

.user-image{
  width: 12em;  
  height: 12em; 
  overflow: hidden;
  border-radius: 1em;
}

.background-box{
  width: 13em;
  height: 13em;
  border-radius: 1em;
  background-color: var(--accent-primary);
  margin: 0 auto;
  display: flex; 
  justify-content: center; 
  align-items: center;
  overflow: hidden;
}

.user-bio{
  text-align: left;
  margin-top: 0.5em;
  overflow:hidden;
}

.follower-count{
  overflow: hidden;
}

.users-name{
  margin-top: 1em;
  margin-bottom: 0.5em;
}