.icon {
    fill: var(--text-primary);
    width: 1em;
    height: 1em;
    vertical-align: text-top;
    margin-right: 0.5em;
}

a{
    text-decoration: none;;
}

#interaction-button{
    border: none;
    font-size: medium;
    background-color: var(--background-primary);
}

#interaction-button:hover{
    cursor: pointer;
}

body{
    background-color: var(--backgorund-secondary);
    padding: 2em;
}

.all-posts{
    padding: 2em;
    background-color: var(--background-primary);
}

.blog-photo{
    width: 30%;
    height: auto;
}

.singular-post{
    padding: 2em 1em 2em 1em;
}
