.icon {
    fill: var(--text-primary);
    width: 1em;
    height: 1em;
    vertical-align: text-top;
    margin-right: 0.5em;
}

a{
    text-decoration: none;;
}

#interaction-button{
    border: none;
    font-size: medium;
    background-color: var(--background-primary);
}

#interaction-button:hover{
    cursor: pointer;
}

.personal-profile{
    padding: 2em;
}

.blog-photo{
    width: 30%;
    height: auto;
    display: block;
}
