/* sidenav.css
--------------
Styles for the side navigation bar.
TODO: I think I may be getting too specific with my selectors
*/
/* TODO: replace color literals with color variable names  */
/* TODO: remove */
body {
    font-family: sans-serif;
    background-color: rgb(221, 221, 221);
    margin: 0;
}

/* SIDE NAV AND ITS GRID CELLS */
#side-nav {
    color: white;
    background-color: rgb(9, 155, 138);

    width:fit-content;
    height: 100%;
    min-height: 100vh;
    padding: 0 0 1em;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    gap: 1em;
}

#logo-container {
    text-align: center;
}

#bottom-links {
    align-self: self-end;
}

/* LINKS - should I make a .nav-link class to reduce selector specificity? */
.nav-link {
    color: inherit;
    display: block;
    padding: 0.3em 1em ;
    text-decoration: none;
}
.nav-link:hover {
    background-color:rgb(37, 199, 180);
}

.nav-link.current-page {
    background-color: rgb(221, 221, 221); /* TODO: set to primary bg color */
    color:rgb(9, 155, 138);
}
.nav-link.current-page .icon {
    fill: rgb(9, 155, 138);
}

.nav-link.no-access {
    color: rgb(53, 104, 98);
}
.nav-link.no-access .icon {
    fill: rgb(53, 104, 98);
}

/* BUTTON */
.button-collapse {
    color: white;
    background-color:rgb(37, 199, 180);
    height:fit-content;
    margin: 0 0.75em;
    padding: 0.2em 1em;
    border: none;
    border-radius:4em;

    font-weight: bold;
}
.button-collapse:hover {
    background-color:rgb(129, 202, 193);
    cursor: pointer;
}

/* ICONS */
.icon {
    fill:white;
    width: 1em;
    height: 1em;
    vertical-align: text-top;
    margin-right: 0.5em;
}

.icon-logo {
    display: block;
    width: 4em;
    height: 4em;
    margin: 1em auto 0.75em;
}

/* TODO: I suggest this be added to our main.css, if we have something like that */
.hidden {
    display:none !important;
}



