.page-container{
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100%;
}

.post-container{
  background-color: var(--background-secondary);
  border-radius: 1em;
  padding: 2em;
  max-height: 100%;
  margin: 1em;
  /*TODO add box shadow*/
}

.blog-text{
  padding: 0.5em 2em;
  height: 100%;
}

.blog-text p{
  margin-top: 1.5em;
}

.interaction-bar{
  display: flex;
  padding: 1em;
  max-height: 2em;
  justify-content: center;
  gap: 2em;
}

.interaction-button:hover{
  cursor: pointer
}

.button-icon{
  fill: var(--text-primary);
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  margin: auto 0em auto 0.5em;
}

.icon-text{
  margin-right: 1em;
  color: var(--text-primary);
  white-space: nowrap;
}
