
/* TODO: remove */
body {
    background-color: rgb(53, 53, 53);
    margin: 0;
}

#side-nav {
    color: white;
    background-color: rgb(9, 155, 138);

    width:fit-content;
    height: 100%;
    min-height: 100vh;
    padding: 1em 0;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: repeat(4);
    gap: 1em;
}

#side-nav a {
    color: inherit;
    display: block;
    padding: 0.2em 1em ;
    text-decoration: none;
}
#side-nav a:hover {
    background-color:rgb(37, 199, 180);
}

#side-nav #bottom-links {
    align-self: self-end;
}

