
/* TODO: replace color literals with color variable names  */
/* TODO: remove */
body {
    background-color: rgb(221, 221, 221);
    margin: 0;
}

#side-nav {
    color: white;
    background-color: rgb(9, 155, 138);

    width:fit-content;
    height: 100%;
    min-height: 100vh;
    padding: 0 0 1em;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: repeat(4);
    gap: 1em;
}

#side-nav a {
    color: inherit;
    display: block;
    padding: 0.2em 1em ;
    text-decoration: none;
}
#side-nav a:hover {
    background-color:rgb(37, 199, 180);
}

#logo-container {
    text-align: center;
}
#logo-container img {
    display: block;
    width: 4em;
    height: auto;
    margin: 1em auto 0.75em;
}

#side-nav #bottom-links {
    align-self: self-end;
}

#side-nav a.current-page {
    background-color: rgb(221, 221, 221); /* TODO: set to primary bg color */
    color:rgb(9, 155, 138);
}

/* TODO: I suggest this be added to our main.css, if we have something like that */
.hidden {
    display:none !important;
}

