.sidebar-profile{
  background-color: var(--background-secondary);
  color: var(--text-primary);
  
  max-width: 15em;
  height: 100vh;
  padding: 1em;
  box-sizing: border-box; 
  
  position: fixed; 
  top: 0; 
  right: 0; 
}

.user-image{
  width: 10em;
  height: auto;
  border-radius: 2%; 
  display: block;
  margin: 0 auto 15px; 
}

.user-info{
  text-align: center;
}

.user-name{
  font-size: 1.5em;
  margin-bottom: 1em;
}

.follower-count{
  margin-bottom: 1em;
}

.user-bio{
  text-align: left;
}