.sidebar-profile{
  background-color: var(--background-secondary);
  max-width: 20%;
  height: 100vh;
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  padding: 1em;
  overflow: auto;
}

.background-box{
  width: 75%;
  height: auto;
  border-radius: 1em;
  background-color: var(--accent-primary);
  margin: 0 auto;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.user-image{
  max-width: 90%;
  max-height: auto;
  overflow: hidden;
  border-radius: 1em;
}

.user-bio{
  text-align: left;
  padding: 1em 0 1em 0;
  font-size: medium;
  word-wrap: break-word;
}

.user-name{
  padding: 1em 0 1em 0;
}