.dashboard-grid {
    box-sizing:content-box;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1.75fr;
    grid-template-areas: "user-search site-analytics";
}

.user-search {
    grid-area: user-search;
    width: inherit;
    height: fit-content;
}

.search-topics {
    grid-area: search-topics;
    width: inherit;
}

.site-analytics {
    grid-area: site-analytics;
    width: inherit;
}

.action-bar {
    margin-top: 1rem;
}

.user-list {
    margin-top: 1rem;
    max-height: 100vh;
    overflow: auto;
    border-radius: 0.75em;
}
.user-list li {
    padding: 0.5rem;
}

.user-list>li:nth-child(even) {
    background-color: var(--low-opacity-darken-10);
}

.user-list>li:nth-child(odd) {
    background-color: var(--low-opacity-darken-20);
}

.widget-container {
    display: grid;
    gap: 2em;
    margin-top: 1em;
}

.analytics-widget {
    background-color: var(--low-opacity-darken-10);
    box-shadow: none;
}

.analytics-widget ul {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5em;
    margin-top: 1em;
}

.analytics-widget li {
    display: flex;
    flex-direction: column;
    background-color: var(--background-secondary);
    border-radius: 0.75em;
    padding: 1em 0.75em;
    align-items: center;
    justify-content: center;
}

.analytics-widget span {
    font-size: 1.17em;
    font-weight: bold;
    align-self: center;
}

.analytics-widget p {
    min-width: 22ch;
    text-align: center;
    font-size: smaller;
    margin: 0.5em 0;
}
