/*
NOTE: this file is for the search-PAGE specific styles.
Search BAR styes are in main.css
*/

.search-results {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.search-bar {
    background-color: var(--background-primary);
}

.help-message {
    font-style: italic;
}

.search-message {
    margin-top: 1.5em;
}
